<div class="jumbotron">
    <h1>What is object writing?</h1>
    <p>
    Object writing is tool for songwriters developed by Pat Pattison and described in his book <i><a href="http://www.amazon.com/Writing-Better-Lyrics-Pat-Pattison-ebook/dp/B008Y0XH1C/ref=sr_1_1?ie=UTF8&qid=1422829252&sr=8-1&keywords=writing+better+lyrics">Writing Better Lyrics</a></i>. It involves writing about an object or subject using your senses, with the goal of loosening up the creative flow.  See <a href="http://objectwriting.com/index.php?topic=196.0">here</a> for a description of the method.</p>
    <a class="btn btn-primary" href="/session">Start Writing</a>
</div>
