<h2>How long would you like to write (minutes)?</h2>
<div class="input-group col-lg-4">
    <input type="number" class="form-control" ng-model="data.minutes">
</div>
<h2>Choose a word for inspiration:</h2>
<div class="input-group col-lg-4">
    <input type="text" class="form-control" ng-model="data.word">
    <span class="input-group-btn">
	<button class="btn btn-default" ng-click="updateWord()" type="button">
	    Generate Word
	</button>
    </span>
</div>
<div class="text-center">
<a class="btn btn-primary btn-lg" type="button" href="/session">Begin</a>
</div>
